[defaults]

# Inventory file
inventory = ./inventory

# Don't ask for SSH host-key confirmation
host_key_checking = False

# Don't create retry files
retry_files_enabled = False

# Default remote user
remote_user = ubuntu

# Roles location
roles_path = ./roles

# Number of hosts Ansible can manage simultaneously
forks = 10

# Don't display deprecation warnings
deprecation_warnings = False

# Improve output readability
stdout_callback = default

# Don't gather facts unless a playbook requests them
gathering = implicit

[privilege_escalation]

# Use sudo when become: true is specified
become = False
become_method = sudo
become_ask_pass = False

[ssh_connection]

# Reuse SSH connections for better performance
pipelining = True